# KDE Config File  
[KDE Desktop Entry]
Type=Application
Exec=kscanplot -caption "%c" %i %m  
Icon=kscanplot.xpm
MiniIcon=kscanplot.xpm
DocPath=kscanplot/index.html
Comment=
Comment[de]=
Terminal=0
Name=KScanPlot
Name[de]=KScanPlot
